<!DOCTYPE html>
<html>
<head>
  <title>NCBI Protein Page Fetcher</title>
</head>
<body>
  <h2>Enter NCBI Protein Page URL</h2>
  <form action="/protein_info" method="post">
    <label for="url">NCBI Protein Page URL:</label><br>
    <input type="text" id="url" name="url" value="https://www.ncbi.nlm.nih.gov/protein/AJF94343.1"><br><br>
    <input type="text" id="specie" name="specie" value="Homo sapiens"><br><br>
    <input type="submit" value="Fetch Information">
  </form>
</body>
</html>
